<!DOCTYPE html>
<html lang="pt" xmlns:th="http://thymeleaf.org">
<head th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style-default.css}">
    <script src="https://kit.fontawesome.com/e741ca3dd1.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="page-layout" class="container-fluid mt-5 pt-4">
    <div class="row">
    </div>
</div>

<!-- Navbar -->
<nav th:fragment="header-top" class="navbar navbar-expand-lg fixed-top" id="navbar-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h2>LenSpace</h2>
        </a>
<!--        <form class="d-flex">-->
<!--            <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search" disabled>-->
<!--            <button class="btn btn-outline-primary" type="submit" disabled>Buscar</button>-->
<!--        </form>-->
        <div class="d-flex">
        </div>
    </div>
</nav>

<!-- Sidebar Esquerda -->
<div th:fragment="sidebar-left" class="col-md-3 d-none d-md-block border-end min-vh-100">
    <a th:href="@{/perfil/{username}(username=${user.username})}">
        <h3 th:text="${user.username}" style="padding-left:5px" id="usernameTitle"></h3>
    </a>

    <ul class="list-group">
        <li class="list-group-item"><a th:href="@{/}"> <i class="fas fa-user"></i> Home</a></li>
        <li class="list-group-item"><a th:href="@{/followers}"> <i class="fas fa-users"></i> Seguidores</a></li>
        <!-- Visualizador de usuários para administradores -->
        <li class="list-group-item" th:if="${user.isAdministrador()}">
            <a th:href="@{/adminUsers}"> <i class="fas fa-users-gear"></i> Lista de Usuários </a>
        </li>
        <li class="list-group-item"><a href="./logout"> <i class="fas fa-sign-out-alt"></i> Sair</a></li>
    </ul>
</div>

<!-- Sidebar Direita -->
<div th:fragment="sidebar-right" class="col-md-3 d-none d-md-block border-start min-vh-100">
    <h5 id="usuariosList">Sugestões de Amigos</h5>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" th:each="userItem: ${usersList}">
                <span><i class="fas fa-user"></i> <span th:text="${userItem.username}"></span></span>
            <form th:action="@{/follow}" method="post">
                <input type="hidden" name="userFollowId" th:value="${userItem.codigoid}">
                <button type="submit" class="btn btn-sm btn-primary">Adicionar</button>
            </form>
        </li>
    </ul>
</div>

<!-- Footer -->
<footer th:fragment="footer" class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <p class="mb-1">&copy; 2025 LenSpace - Todos os direitos reservados</p>
        <p class="mb-1">Desenvolvido por Simon Lucena de Castro</p>
    </div>
</footer>

<!-- Postagems -->
<div th:fragment="posts" class="card mb-3">
    <!-- Username -->
    <div class="card-header">
        <a th:href="@{/perfil/{username}(username=${post.user.username})}">
            <i class="fas fa-user"></i>
            <span th:if="${post.user != null}" th:text="${post.user.username}"></span>
            <span th:if="${post.user == null}">Usuário Desconhecido</span>
        </a>
    </div>
    <!-- Imagem -->
    <img th:if="${post.imagem != null}" th:src="@{${post.imagem}}" class="card-img-top" alt="Foto desconhecida">

    <div class="card-body">
        <!-- Legenda -->
        <p class="card-text" th:if="${post.legenda != null}" th:text="${post.legenda}"></p>

        <!-- Curtir -->
        <button th:if="${!postsCurtidos.contains(post.getCodigoid())}" class="btn btn-outline-primary like-btn" th:data-postid="${post.getCodigoid()}" th:data-liked="${postsCurtidos.contains(post.getCodigoid())}">
                            <span id="statusLiked">
                                <span class="like-count" th:text="${likeCounts[post.codigoid]}">0</span>
                                <span><i class='fa-solid fa-thumbs-up'></i></span>
                            </span>
        </button>
        <button th:if="${postsCurtidos.contains(post.getCodigoid())}" class="btn btn-danger like-btn" th:data-postid="${post.getCodigoid()}" th:data-liked="${postsCurtidos.contains(post.getCodigoid())}">
                            <span id="statusLiked">
                                <span class="like-count" th:text="${likeCounts[post.codigoid]}">0</span>
                                <span><i class='fa-regular fa-thumbs-down'></i></span>
                            </span>
        </button>

        <!-- Comentário -->
        <button class="btn btn-outline-secondary comment-btn" th:data-postid="${post.getCodigoid()}">Comentar</button>
        <!-- Área de Comentário Oculta -->
        <div class="comment-box mt-2 d-none" th:id="'comment-box-' + ${post.getCodigoid()}">
            <textarea class="form-control mb-2" th:id="'comment-text-' + ${post.getCodigoid()}" placeholder="Digite seu comentário..."></textarea>
            <button class="btn btn-primary submit-comment" th:data-postid="${post.getCodigoid()}">Enviar</button>
        </div>
        <!-- Lista de Comentários -->
        <div class="comments-list mt-3" th:id="'comments-list-' + ${post.codigoid}">
            <div th:each="comment : ${postComentarios[post.getCodigoid()]}" th:id="'comment-item-' + ${comment.codigoid}">
                <p  class="d-flex align-items-center" th:if="${${comment.getUser() != null and (comment.getUser().bloqueado == false)}}">
                    <!-- Botão de Opções (Aparece apenas se o usuário for o dono do comentário) -->
                    <div class="dropdown me-2">
                        <button class="dropdown-toggle no-caret border-0 bg-transparent p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <strong th:text="${comment.getUser().username}"></strong>:
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item edit-comment-btn" th:href="@{/perfil/{username}(username=${comment.getUser().username})}">Perfil</a></li>
                            <li th:if="${user.codigoid == comment.getUser().codigoid}"><button class="dropdown-item edit-comment-btn"  th:data-commentid="${comment.codigoid}">Editar</button></li>
                            <li th:if="${user.codigoid == comment.getUser().codigoid}"><button class="dropdown-item delete-comment-btn" th:data-commentid="${comment.codigoid}">Excluir</button></li>
                            <li th:if="${user.administrador}"><button class="dropdown-item suspender-user-btn" th:data-commentid="${comment.codigoid}" th:data-comment-userid="${comment.getUser().codigoid}">Suspender</button></li>
                        </ul>
                    </div>
                    <!-- Comentário (Texto ou Input Editável) -->
                    <span class="comment-text ms-2" th:text="${comment.comentario}" th:id="'comment-edit-text-' + ${comment.codigoid}"></span>

                    <!-- Input para edição (escondido por padrão) -->
                    <textarea class="form-control d-none comment-edit-input ms-2" th:text="${comment.comentario}" th:id="'comment-edit-' + ${comment.codigoid}"></textarea>

                    <!-- Botão de Confirmar Alteração (escondido por padrão) -->
                    <button class="btn btn-success btn-sm d-none confirm-edit-btn ms-2" th:id="'comment-confirm-edit-btn-' + ${comment.codigoid}" th:data-commentid="${comment.codigoid}">
                        Confirmar
                    </button>
                </p>
            </div>
        </div>
    </div>

    <script>
        // Confirmar edição
        document.querySelectorAll(".confirm-edit-btn").forEach(button => {
            button.addEventListener("click", function () {
                confirm("Tem certeza que deseja editar o conteúdo do comentário?");

                const postId = this.getAttribute("data-commentid");
                const commentText = document.getElementById("comment-edit-text-" + postId).innerHTML.trim();

                if (commentText === "") {
                    alert("O comentário não pode estar vazio!");
                    return;
                }

                fetch("/lenspace/editComment", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    body: `commentId=${postId}&comentario=${encodeURIComponent(commentText)}`
                })
                    // .then(response => response.json())
                    // .then(data => {
                    //     if (data.error) {
                    //         alert(data.error);
                    //     } else {
                    //         // Atualiza a lista de comentários
                    //         const commentsList = document.getElementById("comments-list-" + postId);
                    //         const newComment = document.createElement("p");
                    //         newComment.innerHTML = `<strong>${data.username}</strong>: ${data.comentario}`;
                    //         commentsList.appendChild(newComment);
                    //
                    //         // Limpa o campo de comentário
                    //         document.getElementById("comment-text-" + postId).value = "";
                    //     }
                    // })
                    .catch(error => console.error("Erro ao comentar:", error));
            });
        });

        // CADASTRO E ATUALIZAÇÃO DE COMENTÁRIO
        document.querySelectorAll(".comment-btn").forEach(button => {
            button.addEventListener("click", function () {
                const postId = this.getAttribute("data-postid");
                const commentBox = document.getElementById("comment-box-" + postId);
                commentBox.classList.toggle("d-none");
            });
        });

        document.querySelectorAll(".edit-comment-btn").forEach(button => {
            button.addEventListener("click", function () {
                const commentId = this.getAttribute("data-commentid");
                const comment = document.getElementById("comment-edit-text-" + commentId);
                const editcommentBox = document.getElementById("comment-edit-" + commentId);
                const editsubmitbtn = document.getElementById("comment-confirm-edit-btn-"+commentId);
                comment.classList.toggle("d-none");
                editcommentBox.classList.toggle("d-none");
                editsubmitbtn.classList.toggle("d-none");
            });
        });

        document.querySelectorAll(".submit-comment").forEach(button => {
            button.addEventListener("click", function () {
                const postId = this.getAttribute("data-postid");
                const commentText = document.getElementById("comment-text-" + postId).value.trim();

                if (commentText === "") {
                    alert("O comentário não pode estar vazio!");
                    return;
                }

                fetch("/lenspace/saveComment", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    body: `postId=${postId}&comentario=${encodeURIComponent(commentText)}`
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            alert(data.error);
                        } else {
                            // Atualiza a lista de comentários
                            const commentsList = document.getElementById("comments-list-" + postId);
                            const newComment = document.createElement("p");
                            newComment.innerHTML = `<strong>${data.username}</strong>: ${data.comentario}`;
                            commentsList.appendChild(newComment);

                            // Limpa o campo de comentário
                            document.getElementById("comment-text-" + postId).value = "";
                        }
                    })
                    .catch(error => console.error("Erro ao comentar:", error));
            });
        });

        // EXCLUIR COMENTÁRIO
        document.querySelectorAll(".delete-comment-btn").forEach(button => {
            button.addEventListener("click", function () {
                const commentId = this.getAttribute("data-commentid");

                // Confirmação antes de excluir
                if (!confirm("Tem certeza que deseja excluir este comentário?")) {
                    return;
                }

                fetch("/lenspace/deleteComment", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    body: `commentId=${commentId}`
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Remove o comentário da interface sem dar refresh
                            const commentElement = document.getElementById(`comment-item-${commentId}`);
                            if (commentElement) {
                                commentElement.remove();
                            }
                        } else {
                            alert("Erro ao excluir o comentário: " + data.error);
                        }
                    })
                    .catch(error => console.error("Erro ao excluir comentário:", error));
            });
        });

        // SUSPENDER USER
        document.querySelectorAll(".suspender-user-btn").forEach(button => {
            button.addEventListener("click", function () {
                const commentId = this.getAttribute("data-commentid");
                const userId = this.getAttribute("data-comment-userid");

                // Confirmação antes de excluir
                if (!confirm("Tem certeza que deseja suspender o usuário?")) {
                    return;
                }

                fetch("/lenspace/toggleSuspensao", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    body: `userId=${userId}`
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Remove o comentário da interface sem dar refresh
                            const commentElement = document.getElementById(`comment-item-${commentId}`);
                            if (commentElement) {
                                commentElement.remove();
                            }
                        } else {
                            alert("Erro ao excluir o comentário: " + data.error);
                        }
                    })
                    .catch(error => console.error("Erro ao excluir comentário:", error));
            });
        });

        // CURTIR POSTAGEM
        document.querySelectorAll(".like-btn").forEach(button => {
            button.addEventListener("click", function () {
                const postId = this.getAttribute("data-postid");
                const curtido = this.getAttribute("data-liked") === "true";
                fetch("/lenspace/like", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    body: "postId=" + postId
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            alert(data.error);
                        } else {
                            this.setAttribute("data-liked", data.liked);
                            this.classList.toggle("btn-danger", data.liked);
                            this.classList.toggle("btn-outline-primary", !data.liked);
                            const mudarIcone = this.querySelector("#statusLiked");
                            mudarIcone.innerHTML = " <span class='like-count'>" + data.likeCount + "</span> " + (data.liked ?  "<i class='fa-regular fa-thumbs-down'></i>" : "<i class='fa-solid fa-thumbs-up'>")
                        }
                    })
                    .catch(error => console.error("Erro:", error));
            });
        });
    </script>
</div>

</body>
</html>