.fa-bell{
    color: gold;
}
.fa-cog{
    color: lightsteelblue;
}
.fa-sign-out-alt{
    color: red;
}
.fa-user{
    color: steelblue;
}
#navbar-top{
    background-color: darkred;
}
.navbar-brand {
    color: white;
    font-weight: bolder;
}

.navbar-brand:hover {
    color: white;
    font-weight: bolder;
}

#usernameTitle{
    margin-top: 10px;
}

#usuariosList{
    margin-top: 10px;
}

.titulo-page {
    margin-top: 15px;
}