<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seguidores - LenSpace</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body class="bg-light">
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2><i class="fas fa-users"></i> Seguidores</h2>
        <a th:href="@{/}" class="btn btn-secondary">Voltar</a>
    </div>

    <!-- Lista de Seguidores -->
    <ul class="list-group align-items-center">
        <h1 th:text="${erroMessage}"></h1>
        <li class="list-group-item d-flex justify-content-between align-items-center" th:each="follower : ${followerList}">
            <span><i class="fas fa-user"></i> <span th:text="${follower.username}"></span></span>
            <button class="btn btn-sm btn-danger">Remover</button>
        </li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
